{% extends 'store/base.html' %}

{% block title %}Productos Disponibles{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Productos Disponibles</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% if product.get_default_image_url %}
                <img src="{{ product.get_default_image_url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                <img src="https://via.placeholder.com/300x200?text=Sin+imagen" class="card-img-top" alt="Sin imagen">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ product.base_price }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="{% url 'add_to_cart' product.id %}" method="post" class="flex-grow-1 me-2">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="number" name="quantity" value="1" min="1" class="form-control"
                                    style="max-width: 80px;">
                                <button class="btn btn-success" type="submit">Añadir al carrito</button>
                            </div>
                        </form>
                        {% if user.is_authenticated %}
                        <form action="{% url 'add_wish' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit"
                                style="color: #ccc; background: transparent; border: none; font-size: 1.5rem; transition: color 0.3s ease;"
                                onmouseover="this.style.color='red'" onmouseout="this.style.color='#ccc'"
                                title="Agregar a Favoritos">
                                &#9829;
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}