{% extends 'store/base.html' %}
{% load i18n %}
{% block title %}{% if object %}{% trans "Editar Reseña" %}{% else %}{% trans "Nueva Reseña" %}{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% if object %}{% trans "Editar Reseña" %}{% else %}{% trans "Nueva Reseña" %}{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if object %}{% trans "Actualizar" %}{% else %}{% trans "Enviar" %}{% endif %}
        </button>
    </form>
</div>
{% endblock %}